<h1>新しいクイズ投稿</h1>

<%= form_with model: @quiz, method: :post do |f| %>

  <div>
    <h4>答え</h4>
    <%= f.text_field :answer %><br>

    <h4>解説文</h4>
    <%= f.text_area :explanation %><br>

    <h4>画像</h4>
    <%= f.file_field :answer_image, accept: "image/*" %><br>

    <h4>問題文</h4>
    <%= f.text_field :q_sentence %><br>
  </div>

  <%= f.submit '投稿' %>

<% end %>